In [83]:
import numpy as np
import pandas as pd

In [84]:
data = pd.read_csv('covid_19_data.csv', delimiter=',')

In [85]:
data.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [86]:
print('Size/Shape of the dataset: ',data.shape)
print('Checking for null values:\n',data.isnull().sum())
print('Checking Data-type of each column:\n',data.dtypes)

Size/Shape of the dataset:  (236017, 8)
Checking for null values:
 SNo                    0
ObservationDate        0
Province/State     62045
Country/Region         0
Last Update            0
Confirmed              0
Deaths                 0
Recovered              0
dtype: int64
Checking Data-type of each column:
 SNo                  int64
ObservationDate     object
Province/State      object
Country/Region      object
Last Update         object
Confirmed          float64
Deaths             float64
Recovered          float64
dtype: object

In [87]:
data.drop(['SNo'],1,inplace=True)

In [88]:
data.head()

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [89]:
data['ObservationDate']=pd.to_datetime(data['ObservationDate'])

In [90]:
data.head()

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,2020-01-22,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2020-01-22,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,2020-01-22,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,2020-01-22,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,2020-01-22,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [91]:
active = data['Confirmed'] - data['Deaths'] - data['Recovered']

In [92]:
data['Active'] = active

In [93]:
data.head()

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Active
0,2020-01-22,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0,1.0
1,2020-01-22,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0,14.0
2,2020-01-22,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0,6.0
3,2020-01-22,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0,1.0
4,2020-01-22,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0,0.0

In [ ]:
# List of things to do
# Total confirmed cases, deaths, recovered, deaths per 100 https://ibb.co/SR0drYG
# Total confirmed cases, active, deaths, recovered https://ibb.co/DLtwVfb
# New cases, new deaths, new recovered https://ibb.co/3zGYQSQ
# Deaths per 100 cases https://ibb.co/nmZ4pmQ
# Number of countries with cases https://ibb.co/vdGB6VW
# (Top 20 countries or so) Confirmed, active, deaths per 100 etc. https://ibb.co/YR5HL8S
# 1 week change, 1 week % increase, Total cases/1M pop (Only countries with > 1M pop), Deaths/1M pop (Only countries with > 1M pop), 
# Total Tests//1M pop (Only countries with > 1M pop) https://ibb.co/xYcCK1M
# Number of days from 100,000 cases (Top 10 countries) https://ibb.co/Hddht0Q
# Breakdown of cases per province/state for top 5 countries https://ibb.co/b6Tp9Mj